.iconedefundo_cardapio {
    background-image: url("../BurguerStation/assets/Fundo\ do\ Layout.png");
}



.icone_inicio {
    padding: 25px 25px;
}

.box_busca{
    position: relative;
    width: 60%;
    max-width: 500px;
    margin: 0 10px;
}

.campo_busca{
     width: 100%;
    height: 42px;
    border-radius: 10px;
    border: solid 1px #cccccc;
    padding-left: 2.5rem;
    font-size: 1rem;
}

.icone_lupa{
    height: 24px;
    position: absolute;
    left: 9px;
    top: 9px;
    fill: #b0b0b0;
}


.img_logo {
    height: 165px;
    width: 150px;
    margin-top: 24px;
    margin-left: 42px;
}


.img_fundo {
    width: 1943px;
    height: 849px;

}

h1 {
    font-family: "Neuton", serif;
    font-weight: 600;
    text-align: center;
    margin-bottom: 100px;
}

h2 {
    font-family: "Moul", serif;
    color: #00000070;
    height: 12px;
    font-size: 10px;
}

.cards {
    display: flex;
    justify-content: center;
    font-family: "Neuton", serif;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.container{
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    font-family: "Neuton", serif;
    font-size: 11px;

}


.card_produto{
    width: 292px;
    height: 438px;
    background: linear-gradient(178deg, rgba(229, 124, 32, 1) 50%, rgba(137, 29, 19, 1) 100%);
    border-radius: 30px;
    padding: 30px 10px;
    margin-bottom: 133px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    /* margin: 70px; */
    text-align: center;
    font-size: 10px;
    box-shadow: 0 4px 4px 2px #00000025;
}

.div_img{
    display: flex;
    align-items: flex-end;
    height: 180px;
    width: 250px;
}

.sessao_card4 .div_img img{
    width: 280px;
}

.descricao {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    width: 95%;
    height: 80px;
}

 .cards p{
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
}

span{
    font-weight: 600;
}

footer{
    background-color: #EB7932;
    height: 100px;
}

.rodape_texto{
    font-size: 35px;
    text-align: center;
    padding-top: 26px;
}

.whatsaap{
    margin-left: 1820px;
}

/*MIDIA*/
@media  screen and (max-width: 1100px){   
}